html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
      }
#map {
    height: 100%;
}
.navbar {
    opacity: 0.75;
}
/*#list {
    float:left;
    position: fixed;
    z-index: 99 !important;
    background-color: white;
    padding-right: 25px;
    padding-left: 25px;
}
ul {
    list-style-type: none;
}*/
